In [1]:
import requests
import matplotlib.pyplot as plt
from IPython.display import Image
import pandas as pd
import json
import geopandas as gpd

In [2]:
with open('nasa.json') as fi:
    credentials = json.load(fi)
api_key = credentials['api_key']

In [3]:
endpoint = 'https://data.nashville.gov/resource/2u6v-ujjs.csv'

In [19]:
params = {'offense_description': '',
          #$where
         'api_key' : api_key}

In [25]:
response = requests.get(endpoint)

In [26]:
response

In [27]:
from io import StringIO

In [28]:
burglary = pd.read_csv(StringIO(response.text))

In [29]:
burglary.head()

,primary_key,incident_number,report_type,report_type_description,incident_status_code,incident_status_description,investigation_status,incident_occurred,incident_reported,incident_location,...,weapon_description,victim_number,domestic_related,victim_type,victim_description,victim_gender,victim_race,victim_ethnicity,victim_county_resident,mapped_location
0,2021260418_11,2021260418,W,WITNESS,O,OPEN,Open,2021-04-14T17:00:00.000,2021-04-21T16:40:00.000,HILLSIDE AVE,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,POINT (-86.78 36.14)
1,20210513835_11,20210513835,D,DISPATCHED,U,UNFOUNDED,Closed,2021-09-30T21:23:00.000,2021-09-30T21:47:00.000,105 105,...,NONE,1,True,I,INDIVIDUAL (18 AND OVER),M,U,Non-Hispanic,RESIDENT,POINT (-86.717 36.263)
2,20210513823_11,20210513823,D,DISPATCHED,U,UNFOUNDED,Closed,2021-09-30T19:45:00.000,2021-09-30T22:43:00.000,1333 1333,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),M,B,Non-Hispanic,NON RESIDENT,POINT (-86.772 36.196)
3,20210513703_11,20210513703,D,DISPATCHED,U,UNFOUNDED,Closed,2021-09-30T19:38:00.000,2021-09-30T21:39:00.000,109 109,...,NONE,1,True,I,INDIVIDUAL (18 AND OVER),F,W,Non-Hispanic,RESIDENT,POINT (-86.712 36.263)
4,20210513650_11,20210513650,D,DISPATCHED,O,OPEN,Open,2021-09-30T19:22:00.000,2021-09-30T19:57:00.000,OLD MATTHEWS RD,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,POINT (-86.79 36.22)